.swiper {
    width: 100%;
    height: 100%;
    border-radius: 12px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.mySwiper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 12px solid red;
}
  
.swiper-slide {
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next{
    margin-left:3.8rem;
}
.swiper-button-prev{
    margin-right:3.8rem;
}
  