.footer{
    background-color: #2E436A;
    height:auto;
    padding-top: 5rem;
}


.footer-heading{
    overflow:visible;
}

.footer2{
    padding-left:5rem;
    padding-right:5rem;
    padding-bottom: 5rem;
    
}