@font-face {
  font-family: 'VisbyRoundCF-Regular';
  src: url(./assets/fonts/VisbyRoundCF-Regular.otf);
}
*{
  font-family: 'VisbyRoundCF-Regular';
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  }
  html {
      font-size: 62.5%;
  }
  
  
  
