.speaker{
    background: #F7FAFC 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction:column;
    padding-top: 10rem;
}
.speaker-heading{
    text-align: center;
    color:#2E436A;
    font-size: 6rem;
}
.speaker-content{
    display: flex;
    flex-direction:row;
    margin-top: 8rem;
    margin-bottom: 9.5rem;
    padding-left: 12rem;
    padding-right: 12rem;
    flex-wrap: wrap;
    justify-content: center;
    /* border:1px solid red; */
}
.speaker-biodata{
    font-size: 3rem;
    line-height: 45px;
    max-width: 104rem;
    /* border:1px solid red; */
}   

.speaker-profile{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.speaker-profile img{
    height: auto;
}
.speaker-profile-name{
    margin-top:3.5rem;
    font-size: 3.5rem;
    color:#2E436A;
}
.speaker-profile-company{
    margin-top:1.5rem;
    font-size: 3rem;
    color:#2E436A;
}

.speaker-profile-linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:4rem;
    padding-top:2.2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom:2.1rem;
    background: #2E436A 0% 0% no-repeat padding-box;
    font-size: 3.5rem;
    color:white;
    gap:4.6rem;
    max-width: 42rem;
    border-radius: 15px;
}
.speaker-profile-linkedin img{
    max-width:15%;
    height: auto;
}